Template/PoshProjectTemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProjectName" type="xs:string" />
				<xs:element name="Directories" type="xs:string" />
				<xs:element name="Type" type="xs:string" />
				<xs:element name="Dependencies" type="xs:string" />
				<xs:element name="License" />
				<xs:element name="Metadata">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Author" type="xs:string" />
							<xs:element name="Path" type="xs:string" />
							<xs:element name="RootModule" type="xs:string" />
							<xs:element name="Description" type="xs:string" />
							<xs:element name="Guid" type="xs:string" />
							<xs:element name="Tags" type="xs:string" />
							<xs:element name="ModuleVersion" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>